<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->

	<bean name="s" class = "java.lang.String">
		<constructor-arg value="호호호"/>			<!-- injection 방식 중 생성자를 이용한 방법 -->
	</bean>
	
	<bean name = "n a b c" 		
			class = "com.newlecture.mvnJavaPrj.NewNotice">
			<property name="title" ref="s"/>
		<!-- <property name="title" value="OKebari" /> -->	<!--injection 방식 중 setter를 이용한 방법 setTitle() -> title -->
		
	</bean>		<!-- 왕자님  여기에 원래 id = "notice"가 있었음(NoticeLogHandler사용) -->
	
	
	
	<bean name="logAroundAdvice" class="com.newlecture.mvnJavaPrj.LogAroundAdvice">		<!-- 꽂아 놓을 것 -->
	</bean>
	
	<!-- proxy생성 -->
    <bean id = "notice" name="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">	<!-- 가짜 -->
    	<property name="target" ref="n" />
    	<property name="interceptorNames">
    		<list>
    			<value>logAroundAdvice</value>
    			<!-- value 여러개가 올 수 가 있음 -->
    		</list>
    	</property>    
    </bean>

    <!-- more bean definitions for services go here -->

</beans>